body {
  font-family: 'Roboto', sans-serif;
}
.scroll-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.scroll-arrow-up {
  bottom: 60px;
}

.v-app-bar{
  justify-content: center!important;
  align-items: center!important;
}
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  text-decoration: none;
  color: #b4030f!important;
}
.menu-icon,
.close-icon {
  display: none;
  cursor: pointer;
  color: #b4030f;
}

.darkTheme{
  color: #fff;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    color: #b4030f;
    background-color: #fff;
    top: 40px;
    right: 0;
    width: 100%;
    text-align: justify;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-icon {
    display: block;
    position: absolute;
    right: 85px; 
  }
  .close-icon {
    display: none;
  }
  .nav-links.active + .close-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .nav-links.active ~ .menu-icon {
    display: none;
  }
}
.v-card {
  box-shadow: none !important;
}