body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.v-app-bar {
  margin-bottom: 20px;
}

.v-toolbar-title img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #b4030f!important; /* Sets the color for nav links */
  font-weight: 500;
  font-size: 16px; /* Adjust font size for better readability */
}

.nav-links a.active {
  font-weight: bold;
}
.main-container{
margin-top: 4rem!important;
margin-inline: 2rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 1rem;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #b4030f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #91020c;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
  border-radius: 0 0 8px 8px;
}

.footer a {
  color: #b4030f;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/* footer style section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 8px 8px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo img {
    margin-bottom: 10px;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-links a {
    color: #b4030f;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-socials {
    display: flex;
    gap: 15px;
  }
  
  .footer-socials a {
    color: #fff; /* Set icon color to white */
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .footer-socials a:hover {
    color: #b4030f; /* Color on hover */
  }
  